/* Reset */
*{
    box-sizing: border-box;
}

nav ul, nav ol, li{
    list-style-type: none;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}

h1, h2, h3, p, ul, ol{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

button{
    border: none;
}

/* ––––––––––––––––– Z-Index ––––––––––––––––– */

.main-page{
    position: absolute;
    z-index: 5;
    opacity: 100%;
    background-image: url("images/ghost-bg.png");
    background-size: 1120px;
}

.dumpling-page{
    position: absolute;
    z-index: 2;
    display: none;
}

.hotpot-page{
    position: absolute;
    z-index: 3;
    display: none;
}

.filter-page{
    position: absolute;
    z-index: 0;
    display: none;
}

/* ––––––––––––––––– Styling ––––––––––––––––– */

body{
    background: #151515;
    justify-self: center;
    width: 1200px;
    position: relative;
}

section{
    background-color: #151515;
    position: relative;
}

/* ––––––––––––––––– Main Page ––––––––––––––––– */

.main-page{
    display: flex;
    justify-self: center;
}

.menu, .chat{
    background: #F8F8F8;
    box-shadow: 8px 8px 0px 0px #5900FF;
    padding: 15px 25px;
}

.dumpling-polaroid, .hotpot-polaroid{
    background: #F8F8F8;
    box-shadow: 8px 8px 0px 0px #5900FF;
    padding: 25px 25px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.menu{
    width: 470px;
    height: 601px;
    justify-self: end;
    align-self: center;
    margin: 6% 6% 6% 4%;
    position: relative;
}

.top-leaf{
    transform: rotate(40deg);
    top: -50px;
    left: -50px;
    transform: scaleX(-1);
    filter: drop-shadow(-7px 2px 0px #5900FF);
    position: absolute;
}

.bottom-leaf{
    filter: drop-shadow(5px 5px 0px #5900FF);
    position: absolute;
    bottom: -28px;
    right: -56px;
}

.main-page .chat {
    width: 700px;
    height: 120px;
    margin: 6% 0 6% 6%;
    align-self: end;
}

h1{
    color: #F8F8F8;
    text-shadow: 5px 5px 0px #5900FF;
    -webkit-text-stroke: 5px #000000;
    font-family: Silkscreen;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -1.2px;
    text-align: center;
}

h2{
    color: #151515;
    font-family: Silkscreen;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -2.1px;
    padding-top: 9px;
}

h3{
    color: var(--Main, #5900FF);
    font-family: Poppins;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

p{
    color: #000;
    text-shadow: 1.336px 1.336px 5.344px rgba(0, 0, 0, 0.125);
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 5px;
}

.crepe-menu p, .dumpling-menu p, .hotpot-menu p{
    margin: 0;
    width: 250px;
}

.crepe-menu h3, .dumpling-menu h3, .hotpot-menu h3{
    height: 37px;
}

article{
    padding: 35px 0;
}

article:hover h3{
    text-shadow: 3px 3px 0px #FF9900;
}

.black-overlay{
    width: 100vw;
    height: 100vh;
    background-color: #00000090;
    backdrop-filter: blur(4px);
    display: none;
    left: 0;
    right: 0;
}

/* ––––––––––––––––– Food Pages ––––––––––––––––– */

/* Dumplings */

.dumpling-page{
    width: 1200px;
    height: 750px;
    background-image: url("images/dumplings.jpg");
    background-repeat: no-repeat;
}

.hotpot-page{
    width: 1200px;
    height: 750px;
    background-image: url("images/hotpot.jpg");
    background-repeat: no-repeat;
}

.filter-page{
    /* position: relative; */
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.chat{
    width: 1000px;
    justify-self: center;
    margin-top: 520px;
}

button{
    display: flex;
    text-align: center;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color:#F8F8F8;
    width: 220px;
    height: 42px;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: var(--Main, #5900FF);
    justify-self: end;
}

button img{
    width: 18px;
}

/* ––––––––––––––––– Filter Options ––––––––––––––––– */
.filters{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 35%;
    right: 14%;
}

.filters li{
    width: 84px;
    height: 84px;
    /* flex-shrink: 0; */
    background-color: #F8F8F8;
    box-shadow: 6px 6px 0px 0px #F90;
    padding: 7px;
    margin-bottom: 20px;
}

li div{
    width: 70px;
    height: 70px;
}

.sat-option{
    background: linear-gradient(180deg, #F00 33%, #0F1 33%, #0F1 66%, #2F00FF 66%);
}

.weird-option{
    background: linear-gradient(to bottom right, #FF4B2F 31%, #23BC47 50%) bottom right / 50% 50% no-repeat, linear-gradient(to bottom left, #FF4B2F 31%, #23BC47 50%) bottom left / 50% 50% no-repeat, linear-gradient(to top left, #FF4B2F 31%, #23BC47 50%) top left / 50% 50% no-repeat, linear-gradient(to top right, #FF4B2F 31%, #23BC47 50%) top right / 50% 50% no-repeat;
}

.purple-option{
    background: conic-gradient(from 180deg at 50% 50%, #A676FF 0deg, #5900FF 183.59999656677246deg, #140039 360deg);
}

.gradient-option{
    background: linear-gradient(135deg, #FFE7B2 0.32%, #6919FF 100.68%);
}

.done{
    color: #000000;
    background-color: #FF9900;
    width: 179px;
    height: 45px;
    position: absolute;
    right: 9.5%;
    bottom: 8%;
}


/* ––––––––––––––––– Media Query ––––––––––––––––– */
@media only screen and (min-height: 751px) {
    body {
      margin-top: 6%;
    }
  }