/* Reset */
*{
    box-sizing: border-box;
}

nav ul, nav ol, li{
    list-style-type: none;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}

h1, h2, h3, p, ul, ol{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

/* My Styles */
body {
    text-align: center;
    color: #333;
    background-image: url("images/ghost-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-color: #121212;
    width: 1200px;
    height: 750px;
    justify-self: center;
}

#container{
    width: 1200px;
    height: 750px;
    place-content: center;
    position: relative;
    display: grid;
}

h1, h3, #message{
    color: #e1e1e1;
    text-shadow: 4px 4px 0px #5900FF;
    font-family: Silkscreen;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 1em;
    letter-spacing: -2px;
    margin: 6px 0;
    text-align: center;
}

h2{
    color: #e1e1e1;
    text-shadow: 2px 2px 0px #5900FF;
    font-family: Silkscreen;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 1em;
    letter-spacing: -2px;
    margin: 6px 0;
    text-align: left;
    padding-top: 20px;
}

/* Help pop up */

button{
    border: none;
    color: #e1e1e1;
    box-shadow: 2px 2px 0px #5900FF;
    font-family: Silkscreen;
    background-color: #121212;
    padding: 2px 5px;
    position: absolute;
    justify-self: center;
    top: 20px;
}

.help{
    display: none;
    z-index: 10;
    background-color: #121212;
    box-shadow: 4px 4px 0px #5900FF;
    width: 1000px;
    justify-self: center;
    margin-top: 10%;
    padding: 20px 40px;
    position: relative;
}

.help p{
    padding-top: 20px;
    text-align: left;
}

.help li{
    text-align: left;
    list-style-type: square;
    margin-left: 20px;
}

.close{
    position: absolute;
    right: 50px;
    top: 10px;
}

/*  */

p, a, li{
    color: #e1e1e1;
    font-family: Silkscreen;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-align: center;
}

p{
    margin-top: 4px;
}

a{
    padding-top: 3px;
    cursor:pointer;
}

#score span {
    font-weight: bold;
}

/* Left side */

#pad1{
    position: absolute;
    top: -90px;
}

#game1 {
    display: flex;
    z-index: -1;
    gap: 10px;
    justify-content: center;
    position: absolute;
    top: 22.5%;
    left: 11%;
}

#game-dice1{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 60vh;
    left: 39vw;
}

#game-dice1 img.roll1{
    transform: rotate(-9.152deg);
    position: absolute;
    left: -90px;
    top: -50px;
}

#game-dice1 img.roll2{
    transform: rotate(4.763deg);
}

#game1 div{
    width: 100px;
    height: 100px;
    transition: all 500ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
}

/* Right side */

#pad11{
    position: absolute;
    top: -90px;
}

#game2 {
    display: flex;
    z-index: -1;
    gap: 10px;
    justify-content: center;
    position: absolute;
    top: 23%;
    right: 11.5%;
}

#game-dice2{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 60vh;
    right: 35vw;
}

#game-dice2 img.roll11{
    transform: rotate(4.763deg);
    position: absolute;
    right: -100px;
    top: -50px;
}

#game-dice2 img.roll12{
    transform: rotate(-9.152deg);
}

#game2 div{
    width: 100px;
    height: 100px;
    transition: all 500ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
}

/*  */

svg{
    fill: #5900FF;
}

#game1 div:hover {
    cursor: pointer;
}

.on {
    opacity: 0.4;
    transform: scale(30%);
}

.score-box{
    border: 3px solid #5900FF;
    background-color: #121212;
    width: 336px;
    height: 91px;
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#score{
    justify-self: center;
    align-items: center;
    display: flex;
    gap: 40px;
}

.p1score{
    color: #FFC300;
    font-size: 13px;
    padding-top: 3px;
}

.p2score{
    color: #FF6200;
    font-size: 13px;
    padding-top: 3px;
}

strong{
    font-family: Tektur;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 3px;
}

.caption{
    color: #FFF;
    font-family: Silkscreen;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* Booms */

.p1boom{
    display: none;
    z-index: 1;
    scale: 0.8;
    position: absolute;
    left: 210px;
    top: 300px;
}

.p2boom{
    display: none;
    scale: 0.8;
    z-index: 1;
    position: absolute;
    left: 500px;
    top: 300px;
}

.cherry-bomb{
    display: none;
    z-index: 1;
    position: absolute;
    bottom: 5vh;
    left: 30vw;
}